[submodule ".registry"]
	path = .registry
	url = https://github.com/jfeldhege/jfeldhege.r-universe.dev
	branch = HEAD
[submodule "openholidaysR"]
	path = openholidaysR
	url = https://github.com/jfeldhege/openholidaysR
